@use '../utils' as u;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: u.$font;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr{
    border: 0;
    height: 2px;
    background: var(--light-pink);
    margin: 20px 50% 20px 0px;
}

header{
    color: var(--white);
    font-size: 1.8rem;
    padding: 2rem;
    width: 100%;    
    background: url(../../app/img/glassess.svg);
    background-color: var(--pink);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-position: center;
}

section#one {
    background: url(../../app/img/pattern.svg);
    color: var(--black);
    padding: 2rem;
    
    & .one__title {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    & p {
        margin-bottom: 10px;
    }
    
    & button {
        background: var(--pink);
        text-transform: uppercase;
        color: var(--white);
        border: 0;
        padding: 1rem 2rem;
        font-size: u.rem(28);
        cursor: pointer;
        transition: all 250ms ease;
        box-shadow: 4px 4px 0px var(--light-pink);

        &:hover {
            background: var(--light-pink);
            box-shadow: 4px 4px 0px var(--pink);
        }
    }

    @include u.breakpoint-min(sm) {
        .one__title {
            font-size: 2.2rem;
        }
    }
    @include u.breakpoint-min(md) {
        .one__title {
            font-size: 3rem;
        }
    }
    @include u.breakpoint-min(lg) {
        .one__title {
            font-size: 4rem;
            color: var(--pink);
        }
        p {
            font-size: 1.8rem;
        }
    }
}

section#two {
    background: url(../../app/img/pattern.svg);
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px 20px 20px 0px;
    
    & img{
        width: 150px;
        transition: all ease 250ms;        
    }
    @include u.breakpoint-min(sm) {
        img {
            width: 200px;
        }
    }
    @include u.breakpoint-min(md) {
        img {
            width: 250px;
        }
    }
    @include u.breakpoint-min(lg) {
        img {
            width: 300px;
        }
    }  
}

footer{
    background-color: var(--pink);
    color: var(--white);
    padding: 2rem;

    & p{
        font-size: 1.2rem;
    }
}