html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    background-color: teal;
}

button{
    background-color: white;
    border: none;
    color: teal;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}	

button:active{
    background-color: rgb(7, 66, 66);
    color: white;
}	
