$breakpoints: (
    xs: 325px,
    sm: 576px,  
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@mixin breakpoint-min($size) {
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}

@mixin breakpoint-max($size) {
    @media (max-width: map-get($breakpoints, $size)) {
        @content;
    }
}